{
  "app": "python3 app.py",
  "watch": {
    "include": ["**"],
    "exclude": [
      "README.md",
      "cdk*.json",
      "requirements*.txt",
      "source.bat",
      "**/__pycache__",
      "**/*.pyc",
      ".venv",
      "**/tests"
    ]
  },
  "context": {
    "sender_email": "REPLACE_ME@example.com",
    "recipient_email": "REPLACE_ME@example.com",
    "nest_project_id": "REPLACE_ME",
    "nest_device_id": "REPLACE_ME",
    "temp_threshold_f": "76",
    "schedule_rate_minutes": 15,
    "sustained_minutes": 30,
    "repeat_alert_minutes": 60,
    "setpoint_threshold_f": "76",
    "github_repo": "REPLACE_ME/REPLACE_ME",
    "@aws-cdk/aws-lambda:recognizeLayerVersion": true,
    "@aws-cdk/core:checkSecretUsage": true,
    "@aws-cdk/core:target-partitions": ["aws", "aws-cn"],
    "@aws-cdk-containers/ecs-service-extensions:enableDefaultLogDriver": true,
    "@aws-cdk/aws-ec2:uniqueImdsv2TemplateName": true,
    "@aws-cdk/aws-iam:minimizePolicies": true,
    "@aws-cdk/aws-lambda:recognizeVersionProps": true,
    "@aws-cdk/aws-cloudfront:defaultSecurityPolicyTLSv1.2_2021": true
  }
}
